<div id='inventory'>

  <div class='wallet'>
    <h1>Inventory </h1>
    <img src='https://gamedesignmaterials.files.wordpress.com/2013/11/purplerupee.jpg'>
    <h1>{{rupees}}</h1>
  </div>


<ul>
  <li><a ng-click='signout()'>Sign Out</a></li>
  <li><a ng-click='switchToStore()'>Store</a></li>
</ul>

  <!-- Page Content -->
  <div class="container">
    <div class="col-md-9">
      <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat='item in items'>
        <div class="thumbnail">
          <img src={{item.url}}>
          <div class="inventory">
            <h4><a href="" class="name">{{item.name}}</a></h4>
            <h4 class="pull-right" class="count">x{{item.count}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
