<div id='store'>
  <h1>Store</h1>
  <button ng-click='switchToInvetory()' class='invetory'>Invetory</button>


  <span class='wallet'>
    <img src='https://gamedesignmaterials.files.wordpress.com/2013/11/purplerupee.jpg'>
    <h1>{{rupees}}</h1>
  </span>

  <div class='row'>
    <div ng-repeat='item in items' class='item'>
      <img src= {{item.url}}>
      <div class='name'>{{item.name}}</div>
      <div class='cost'>{{item.cost}}</div>
      <button ng-click='purchase(item)'>purchase</button>
    </div>
  </div>

</div>
